[paths]
source = pass_import

[run]
omit =
    */virtualenv/*
    */.local/*
    /usr/*

[report]
exclude_lines =
    pragma: no cover
    except ImportError
    raise ImportError
    raise NotImplementedError
    except CredentialsIntegrityError
    'empty password store.'
    if __name__ == .__main__.:
